<ion-header>
  <ion-toolbar>
    <ion-title>Integrantes</ion-title>
    <ion-buttons slot="end">
      <ion-button  [routerLink]="['/home']">
        <ion-icon name="arrow-back-outline" style="font-size: 40px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Compañeros
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/Jorge.PNG">
      </ion-avatar>
      <ion-label>
        <h2>Integrante 1</h2>
        <h3>Jorge Luis Ramirez</h3>
        <!-- <p>Listen, I've had a pretty messed up day...</p> -->
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/Hector.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Integrante 2</h2>
        <h3>Hector Obed xocop del Valle</h3>
        <!-- <p>I've got enough on my plate as it is, and I...</p> -->
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/Jose.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Integrante 3</h2>
        <h3>Juan Jose Cua Teret</h3>
        <!-- <p>You will remove these restraints and leave...</p> -->
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/Gustavo.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Integrante 4</h2>
        <h3>Gustavo Inay</h3>
        <!-- <p>I feel the good in you, the conflict...</p> -->
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
