<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title  size="large">Bienvenido</ion-title>
    </ion-toolbar>
  </ion-header>

  <img class="icon" src="assets/icon/UMG.jpg" alt="">

  <ion-text style="text-align: center;" color="secondary">
    <h1>Desarrollo web</h1>
  </ion-text>
  <section>
   
    <ion-button expand="block" [routerLink]="['/juego']">Juego de adivinar</ion-button>
    <br>
    <ion-button expand="block" [routerLink]="['/integrantes']">Integrantes del equipo</ion-button>
  </section>

</ion-content>
